<div class="d-flex justify-content-start mt-3">
    <div class="col-5">
        <div class="dx-field">
            <div class="dx-field-label" style="color: black;"><h5>Fighter 1</h5></div>
            <div class="dx-field-value">
                <dx-lookup
                    [dataSource]="datasource"
                    [(value)]="fighter1"
                    [displayExpr]="'name'"
                    [searchEnabled]="false"
                    [closeOnOutsideClick]="true"
                    [noDataText]="'No Fighters Exist'"
                    [showCancelButton]="false"
                    itemTemplate="item">
                    <dxo-drop-down-options [showTitle]="false" ></dxo-drop-down-options>
                    <div *dxTemplate="let item of 'item'">
                        <div class="custom-field">
                            {{item.name}} : ({{item.wins}} W - {{item.losses}} L)
                        </div>
                    </div>
                </dx-lookup>
            </div>
        </div>
    </div>
    <div class="col-2 text-center">
        <dx-button 
            text="Attack!"
            stylingMode="contained"
            type="danger"
            (onClick)="startBattle()">
        </dx-button>
    </div>
    <div class="col-5">
        <div class="dx-field">
            <div class="dx-field-label" style="color: black;"><h5>Fighter 2</h5></div>
            <div class="dx-field-value">
                <dx-lookup
                    [dataSource]="datasource"
                    [(value)]="fighter2"
                    [displayExpr]="'name'"
                    [searchEnabled]="false"
                    [closeOnOutsideClick]="true"
                    [noDataText]="'No Fighters Exist'"
                    [showCancelButton]="false"
                    itemTemplate="item">
                    <dxo-drop-down-options [showTitle]="false" ></dxo-drop-down-options>
                    <div *dxTemplate="let item of 'item'">
                        <div class="custom-field">
                            {{item.name}} : ({{item.wins}} W - {{item.losses}} L)
                        </div>
                    </div>
                </dx-lookup>
            </div>
        </div>
    </div>
</div>

<dx-data-grid id="gridContainer" 
    class="mt-2"
    [dataSource]="round_results" 
    [showBorders]="true" 
    [renderAsync]="true"
    [showRowLines]="true"
    [showColumnLines]="false"
    [rowAlternationEnabled]="true"
    [showBorders]="false"
    [height]="500"
    [noDataText]="'Select 2 Fighters above and Press \'Attack\' to start a Match!'">
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxi-column dataField="round" [alignment]="'center'" [width]="'25%'"></dxi-column>
    <dxi-column dataField="message"></dxi-column>
</dx-data-grid>

